@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&family=Poiret+One&display=swap');

body
{

font-family: 'Cormorant Garamond', serif;
font-family: 'Poiret One', cursive;

	background-color: #C8C9C9    ;
	color: #9D0000    ;
}

ul



.aboba
{color:   ;
}
	

h1
{text-align: center;}

p
{text-align: center;}

.wached
{color:  #014E4A   ;}

.wached
{font-size: 125%;}




